body {
  padding-left: 11em;
  font-family: Georgia,"Times New Roman",Times, serif;
  color: purple;
  background-color: #efefef }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 10em }
h1 {
  font-family: Helvetica, Geneva, Arial,SunSans-Regular,sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-bottom: 0.2em solid black;
  border-top: 0.2em solid black;
  border-left: 0.2em solid black;
  border-right: 0.2em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
table.outer {
  width:100%;
  border-width: 0px;
  border-spacing: 0px;
  border-style: outset;
  border-color: gray;
  border-collapse: separate;
}
table.outer th {
  border-width: 0px;
  padding: 1px;
  border-style: inset;
  border-color: gray;
}
table.outer td {
  border-width: 0px;
  padding: 1px;
  border-style: inset;
  border-color: gray;
}
table.listing {
  width:90%;
  padding: 3px;
  text-align:left;
  border-width: 0px;
  border-spacing: 0px;
  border-style: hidden;
  border-collapse: separate;
}
table.listing thead th {
  font-weight:bold;
}
table.listing tfoot td{
  text-align:center;
  padding: 3px;
  border-style: hidden;
}
table.listing td {
  text-align:left;
  border-width: 1px;
  padding: 1px;
  border-style: inset;
}
